<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="UDEL uma comunidade de estudantes!">
    <title>UDEL Academy - comunidade de estudantes!</title>
    <link rel="shortcut icon" type="imagex/png" href="../static/iconudel.svg">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
    <header class="cabecalho">
        <img class= "cabecalho-logo" src="../static/udelicon.png" width="100">
        <nav class="cabecalho-menu">
            <a class="menu-cabecalho-item" href="">Quem somos?</a>
            <a class="menu-cabecalho-item" href="">Como posso participar?</a>
            <a class="menu-cabecalho-item" href="">Entrar</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">UDEL Academy</h1>
                <h4 class="conteudo-principal-escrito-subtitulo">A UDEL é uma comunidade de estudos de propósito geral, seja </br>
                    ensino fundamental, médio, técnico, ou ensino superior.</h4>
                <a href="https://discord.gg/cMrekN8WsP"><button class="conteudo-principal-escrito-botao" href="https://discord.gg/cMrekN8WsP">Quero participar!</button></a>        
            </div>
            <img class="conteudo-principal-imagem" src="../static/udelicon.png" width="425">
        </section>
    </main>

</body>
</html>